@font-face {
  font-family: NiagaraSolid;
  src: url("../fonts/niagara-solid/NIAGSOL.TTF");
}
@font-face {
  font-family: NiagaraEng;
  src: url("../fonts/niagara-engraved/NIAGENG.TTF");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

.background {
  background-image: url("../images/bgm.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.background h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  padding: 40px 40px 0 40px;
}

.background h4 {
  color: grey;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

.item {
  padding: 2em 5em;
}

.item img {
  height: 40vh;
}

.btn-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 130px 0 50px 0;
}

.btn {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  margin: auto;
  background-image: url("../images/bgm.png");
  background-size: cover;
  cursor: pointer;
}

.btn span {
  font-size: 45px;
}

#play {
  font-family: NiagaraSolid;
}

#game {
  font-family: NiagaraEng;
}

.gameContainer {
  width: 60vw;
  height: 250px;
  margin: 100px auto 30px auto;
  position: relative;
  border-bottom: 2px solid white;
}

.cloud {
  width: 350px;
  opacity: 0.7;
}

.points {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.mascot {
  position: absolute;
  width: 60px;
  height: 90px;
  bottom: 0px;
  left: 200px;
  background-image: url("../images/mascots/3.png");
  background-size: cover;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  background-size: cover;
}

.alert {
  display: none;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
  color: white;
}

.alert h2 {
  padding: 10px;
  font-size: 30px;
}

.alert img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
